@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Roboto:300,400,500wght@100&display=swap');

:root { 
  --color-brokenwhite: rgb(215, 219, 198); 
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(37, 0, 0);
}

main {
  flex: 1 0 auto;
}


#logo {
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 25px;
}

.navis {
  font-size: 20px; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.color-of-text {
  color: var(--color-brokenwhite);
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

  .make-center {
    display: flex; 
    justify-content: flex-end
  }

  .margin-zero {
    margin: 0;
  }

  #sm-screen {
    display: none;
  }

  #desktop-screen {
    display: inline;
  }

  .footer-size {
    min-height: 100vh;
  }

  .social-media-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.social-media-links li {
    list-style: none;
    padding: 10px;
    margin: 0 10px;
}

ul.social-media-links li:hover {
    background-color: #FFFFFF44;
}

.social-media {
    color: var(--color-brokenwhite);
}

.copyright {
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
}   

@media screen and (max-width: 762px) {
  #logo {
    font-size: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
    #sm-screen {
      display: inline;
    }

    pre {
      margin: 0;
    }

    #desktop-screen {
      display: none;
    }
}

@media screen and (max-width: 480px) {
  #logo {
    font-size: 12px;
  }
}