body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(100, 97, 97);
  }

 /* main {
    flex: 1 0 auto;
  }
*/
  .make-center {
    display: flex; 
    justify-content: flex-end
  }

  .margin-zero {
    margin: 0;
  }