{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align color-of-text">Help Page</h3>
    <h4 class="center-align color-of-text">Steps for creating rankings of football leagues</h4>

    <div class="row help-display">
        <ul class="collection">
          <li class="collection-item">
              - The start of this app is to create clubnames first. You can go there by clicking <mark>Home</mark> (at the 
              top line of the page), There you can click <mark>"Add Clubs"</mark> to create one.
          </li>
          <li class="collection-item">
              - The second step is to create a League, after clicking <mark>League</mark>. Of coarse it's possible 
              to create multiple leagues.
          </li>
          <li class="collection-item">
               - Then you can fill a league with matches in the <mark>Matches</mark> Area. Here you must first decide which 
               League you choose when you made multiple leagues. A date has to be choosen for a match, the system 
               remembers the last date of input to prevent extra work of inputting the same date over and over again manually. 
               (When doing af first start of the app it remembers the newest date.) In this input area you must choose a club 
               with an opponent. Here you can only choose the clubs you have added at the start. Then the amount of goals 
               has to put in to make a result.
          </li>
          <li class="collection-item">
               - When matches are added in a League, it's possible to get a ranking of that league by clicking on 
               <mark>"Ranking"</mark>. First you choose a league there to get it's ranking. 
          </li>
          <li class="collection-item">
               - It's possible to change club names, league names and match inputs by clicking on <mark>"Edit"</mark> in their
              area.
          </li>
          <li class="collection-item">
              - It's also possible to delete club names, league names and match names in their area. But that can 
              have an effect in whole leagues and their ranking. When a club or a league is tried to delete, an 
              overview of alle games that also will be deleted automatically is shown to warn the user for the 
              consequences.
          </li>
        </ul>
    </div>
</main>
{% endblock %}
