{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align">Show Matches</h3>

    <div class="row">
        <ul class="collection">
        {% for league in leagues %}
          <li class="collection-item">
            <a href="{{ url_for('manage_matches', league_id=league._id) }}" class="btn right-align">Show and Edit Matches</a>
            <span>{{league.league_name }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
</main>
{% endblock %}