{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Football Matches</h3>
    

    <div class="row">
        <div class="input-field col s12">
            <select id="league_name2" name="league_name" class="validate" required>
                <option value="" disabled>Choose League</option>
                {% for league in leagues %}
                <option value="{{ league.league_name }}" selected>{{ league.league_name }}</option>
                {% endfor %}
            </select>
        </div>
     </div>

    <!-- due date picker -->
    <div class="row">
        <div class="input-field col s12">
            <input id="" name="due_date" type="text"
               value="" class="datepicker validate" required>
            <label for="">Match Date</label>
        </div>
    </div>   
    
    <div class="row">
        <div class="input-field col s12">
            <select id="club_name2" name="club_name" class="validate" required>
                <option value="" disabled>Choose Club1</option>
                {% for club in clubs %}
                <option value="{{ club.club_name }}" selected>{{ club.club_name }}</option>
                {% endfor %}
            </select>
        </div>
     </div>

     <div class="row">
        <div class="input-field col s12">
            <select id="club_name3" name="club_name" class="validate" required>
                <option value="" disabled>Choose Club2</option>
                {% for club in clubs %}
                <option value="{{ club.club_name }}" selected>{{ club.club_name }}</option>
                {% endfor %}
            </select>
        </div>
     </div>

{% endblock %}