{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Show Ranking</h3>
    
    <div class="row">
      <div class="col s9">
      <ul class="collection">
        <li class="collection-item">
          <span><pre>{{ header_ranking }}</pre></span>
        </li>
        {% for rank in ranked_clubs %}
        {% if rank.total_played > 0 %}
        <li class="collection-item">
          <span><pre>{{ rank.club_name }}  |   {{ rank.total_played }}   |  {{ rank.total_won }}  |  {{ rank.total_draw }}   |  {{ rank.total_lost }}   |   {{ rank.total_points }}   |  {{ rank.total_goals_made}} - {{ rank.total_goals_against }}</pre></span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}