{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align color-of-text">Show League Rankings</h3>

    <div class="row">
      {% for league in leagues %}
          <div class="col s12 m6">
              <div class="card center-align">
                  <div class="card-content">
                      <span class="card-title">{{ league.league_name }}</span>
                  </div>
                  <div class="card-action">
                    <a href="{{ url_for('show_ranking', league_id=league._id) }}" class="btn right-align deep-orange darken-4">Show Ranking</a>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
</main>
{% endblock %}

